
.example-container {
   width: 100%;

}
mat-drawer{
  background-color: #71973F;
height: 100%;
display:flex;
/*   transition: none; */
}
.cont{
  height: 100%;
}

body{
  padding: 0px;
  margin: 0px;
  height: 100%;
}
