<mat-toolbar>
  <div class="toolbar">
    <div>
      <span><img src="../../../assets/img/logo.png" width="120px"></span>
    </div>

<!--     <button class="boton" (click)="logout()" mat-button>
      <mat-icon color="white">logout</mat-icon>
    </button> -->
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon color="white">menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/perfil']">Mi Perfil</button>
      <button mat-menu-item (click)="logout()">Cerrar sesión</button>
    </mat-menu>


</div>
</mat-toolbar>
