<div class="contenedor">
  <div class="logo"><img src="../../../assets/img/logo.png" width="200px"></div>
  <form [formGroup]="formulario" class="example-form">
    <mat-card class="card">
      <div fxLayout="column" fxLayoutAlign="center stretch">
        <h1 class="titulo">Bienvenido</h1>
        <h2 class="subtitulo">Inicia sesión en tu cuenta</h2>
      </div>
      <mat-form-field appearance="outline" class="field-width">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>email_outline</mat-icon>
        <input matInput placeholder="Introduzca su email" name="email" formControlName="email" required>
      </mat-form-field>
      <div *ngIf="formulario.controls['email'].dirty || formulario.controls['email'].touched" class="alert alert-danger">
        <div class="validador" *ngIf="formulario.get('email')?.hasError('required')">
          El email es requerido
        </div>
      </div>

      <mat-form-field appearance="outline" class="field-width">
        <mat-label>Contraseña</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input type="password" matInput placeholder="Introduzca su contraseña" id="password" formControlName="password">
      </mat-form-field>
      <div *ngIf="formulario.controls['password'].dirty || formulario.controls['password'].touched" class="alert alert-danger">
        <div class="validador" *ngIf="formulario.get('password')?.hasError('required')">
          La contraseña es requerida
        </div>
      </div>

      <button mat-raised-button color="success" (click)="doLogin()">Iniciar Sesión</button>
    </mat-card>
    <p class="sub" [routerLink]="['/register']">¿No tienes cuenta? Registrate</p>
  </form>
</div>
