<mat-nav-list class="app-menu">
  <ng-container *ngFor="let element of listAux" class="elemento">
      <ng-container *ngIf="element.name==select; else notSelected" >
          <a mat-list-item (click)="seleccionar(element)" class="selected" >
              <img [src]="'assets/img/' + element.icon" ><span *ngIf="open" class="ml1 ">{{element.name}}</span>
          </a>
      </ng-container>
      <ng-template #notSelected>
          <a mat-list-item (click)="seleccionar(element)" >
              <img [src]="'assets/img/' + element.icon" ><span *ngIf="open" class="ml1 notSelected">{{element.name}}</span>
          </a>
      </ng-template>
  </ng-container>
</mat-nav-list>
