<section >
  <form class="container" [formGroup]="formulario">
    <div class="op">
    <h2 class="titulo">{{titulo}}</h2>
    <a class="closebutton" (click)="cancelar()"><img src="../../../assets/img/close.svg"></a>
  </div>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>

    <input type="file" placeholder="cover" name="file" id="file" (change)="onFileChanged($event)" />


    <div class="linea" *ngIf="data!=null">
      <button (click)="eliminar()" class="buttondelete" mat-flat-button color="delete" >
        <a><img img src="../../../assets/img/delete.svg"></a>
        Eliminar
      </button>
    </div>
  </form>
  <div class="rectangule">
    <button (click)="editarCrear()" class="buttonsave" mat-flat-button color="save">
      Guardar
    </button>
  </div>
</section>
