.fila{

  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
}
.borde{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.texto{
  width: 250px;
  height: 20px;
  padding: 20px;
}
.columna{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: column !important;
}

::ng-deep .mat-form-field-readonly .mat-form-field-outline {
  border-radius: 5px;
  background-color: rgba(155, 151, 161, 0.541);
  color: rgba(23, 131, 32, 0) !important;
}

::ng-deep .mat-form-field-write .mat-form-field-outline {
  border-radius: 5px;
  background-color: white;
  color: #B1E457 !important;
}
