<section >
  <form class="container" [formGroup]="formulario">
    <div class="op">
    <h2 class="titulo">{{titulo}}</h2>
    <a class="closebutton" (click)="cancelar()"><img src="../../../assets/img/close.svg"></a>
  </div>
    <mat-form-field appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <input matInput placeholder="description" formControlName="description">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de publicación</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="releaseDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

 <!--    <mat-form-field appearance="outline">
      <mat-label>Cover</mat-label>
      <input matInput placeholder="cover" formControlName="cover">
    </mat-form-field> -->
    <input type="file" placeholder="cover" name="file" id="file" (change)="onFileChanged($event)" />

    <mat-form-field appearance="fill">
      <mat-label>Géneros</mat-label>
      <mat-select formControlName="genres" multiple>
        <mat-option *ngFor="let genre of genresList" [value]="genre">{{genre.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="linea" *ngIf="data!=null">
      <button (click)="eliminar()" class="buttondelete" mat-flat-button color="delete" >
        <a><img img src="../../../assets/img/delete.svg"></a>
        Eliminar
      </button>
    </div>
  </form>
  <div class="rectangule">
    <button (click)="editarCrear()" class="buttonsave" mat-flat-button color="save">
      Guardar
    </button>
  </div>
</section>
