<section class="main-container">
  <h1 class="title-pages">Usuarios</h1>

    <div class="h1-table-options">
        <div class="aligned">
            <div class="search-box">
                <button class="btn-search"><img src="../../../assets/img/search.svg"></button>
                <input type="text" class="input-search" placeholder="Buscar">
            </div>

        </div>
    </div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th colspan="2" mat-header-cell *matHeaderCellDef> ID </th>
    <td colspan="2" mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nick">
    <th colspan="2" mat-header-cell *matHeaderCellDef> Nick </th>
    <td colspan="2" mat-cell *matCellDef="let element"> {{element.nick}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th colspan="2" mat-header-cell *matHeaderCellDef> Nombre </th>
    <td colspan="2" mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th colspan="2" mat-header-cell *matHeaderCellDef> Apellidos </th>
    <td colspan="2" mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="email" >
    <th colspan="2" mat-header-cell *matHeaderCellDef> Email </th>
    <td colspan="2" mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <th colspan="2" mat-header-cell *matHeaderCellDef> Avatar </th>
    <td colspan="2" mat-cell *matCellDef="let element">{{element.avatar}}</td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th colspan="2" mat-header-cell *matHeaderCellDef> Rol </th>
    <td colspan="2" mat-cell *matCellDef="let element"> {{element.role}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th colspan="2" mat-header-cell *matHeaderCellDef> Acciones </th>
    <td colspan="2" mat-cell *matCellDef="let element">
      <button mat-button (click)="editarUsuario(element)"><mat-icon>edit</mat-icon></button>
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator class="mat-elevation-z8 mat-paginator" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</section>
